body {
  font-size: 18px !important;
}
.main-header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-family: raleway;
  text-align: center;
  text-decoration: none;
}
.resume-block-title {
  font-size: 1.2rem;
  font-style: italic;
  color: #1f497d;
}
.resume-block-bullets {
  list-style: none;
}
.resume-block-bullets li {
  padding-left: 1rem;
}
.resume-block-bullets li .bullet {
  line-height: 1rem;
  background-color: #626262;
  height: 0.5rem;
  width: 0.5rem;
  padding: 0.25rem;
  border-radius: 5rem;
  display: inline-block;
}
.resume-block-bullets li span {
  vertical-align: text-top;
  display: inline-block;
}
@media (max-width: 990px) {
  .resume-block-employer div{
    text-align: left !important;
  }
}
